/* styles.css */

/* General Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: white;
  background-size: auto;
  background-position: 0%;
  background-repeat: calc();
  
}
iframe{
  width: 2000;
  height: 1200;
}


header, footer {
  background-color: Black;
  color: white;
  padding: 30px;
}


nav ul li {
  display: inline;
  margin-right: 30px;
}

nav ul li a {
  text-decoration: none;
  color: white;
}

/* Main Content Styles */
main {
  padding: 30px;
}
p {
  font-size: 24px;
  
}
h4{
  float: left;
}
h5{
  float: right;
}

h3 {
  font-size: 28px;
  
}

article {
  margin-bottom: 30px;
}

article h2 {
  font-size: 40px;
  color: red;
}

/* Footer Styles */
footer {
  text-align: center;
  font-size: 20px;
  border-style: solid;
  border-width: 1cap;
  border-color: white;
  border-radius: 1%; 
}